doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title A* path-finding algorithm
    link(rel='stylesheet', type='text/css', media='screen, projection', href='style.css')
    script(src="bundle.js" type='text/javascript')
  body
    nav
      span A-star JavaScript
    #main
      #search-grid
        canvas#canvas(width='640px' height="640px")
      #config
        #parameters
          div.param
            label(for='frequency') Wall Frequency:
            select#frequency
              option(value='.1') 10%
              option(value='.2') 20%
              option(value='.3', selected='selected') 30%
              option(value='.4') 40%
          div
            label(for='gridSize') Grid Size:
            select#gridSize(name='selectGridSize')
              option(value='10') 10x10
              option(value='15') 15x15
              option(value='20' , selected='selected') 20x20
              option(value='30') 30x30
              option(value='40') 40x40
              option(value='50') 50x50
              option(value='100') 100x100
              option(value='150') 150x150
        #controls
          div#search Search
          div#reset reset
    #footer
