body {
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  line-height: 1;
  color: #000;
  background: #fff;
}
nav {
  background: #e3e3e3;
  font-size: 36px;
  padding: 20px 40px;
}
#main {
  display: flex;
  width: 1024px;
  margin: 0 auto;
}
#main #search-grid {
  position: relative;
  margin: 40px;
}
#main #config {
  margin: auto;
  margin-left: 40px;
  width: 250px;
}
#main #config #parameters {
  color: 'white';
  font-family: "Arial";
  font-size: 18px;
}
#main #config #parameters .param {
  padding-bottom: 10px;
}
#main #config #parameters label {
  width: 100px;
}
#main #config #parameters select {
  font-size: 18px;
}
#main #config #parameters option {
  font-size: 18px;
}
#main #config #controls {
  padding-top: 40px;
  color: 'white';
  font-family: "Arial";
  font-size: 24px;
}
#main #config #controls #search,
#main #config #controls #reset {
  border: 3px solid #000;
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
#main #config #controls #search:hover,
#main #config #controls #reset:hover {
  color: #fff;
  background-color: #3385ff;
  border-color: #3385ff;
}
#main #config #controls #reset {
  margin-left: 10px;
}
